html {
  font-family: Helvetica;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.column {
  flex: 1;
  max-width: 200px;
}

.button,
.button2 {
  width: 200px;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px;
  text-decoration: none;
  font-size: 20px;  /* Decreased font size to fit button text */
  margin: 5px 2px;
  display: inline-block;
}

.button2 {
  background-color: gray;
}
